.td3 {
    width: 300px;
}

span {
    color: blue;
}

th{
    height: 50px;
}

.td2 {
    width: 100px;
}
.tieude{
    color: blue;
}
.upandseen{
    color: gray;
}

#mucluc{
    text-align: center;
}


