<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="layout.css">
</head>
<body>
    <header><h1>Monday Times</h1></header>
    <nav>
      <ul>
        <li>News</li>
        <li>Sports</li>
        <li>Weather</li>
      </ul>
    </nav>

    <section>
        <h3>New Section</h3>
        <article>
          <h3>New Article</h3>
          <a>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque in porta lorem. Morbi condimentum est nibh, et consectetur tortor feugiat at.

            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque in porta lorem. Morbi condimentum est nibh, et consectetur tortor feugiat at.</a>
        </article>

        <article>
          <h3>New Article</h3>
          <a>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque in porta lorem. Morbi condimentum est nibh, et consectetur tortor feugiat at.

            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque in porta lorem. Morbi condimentum est nibh, et consectetur tortor feugiat at.</a>
        </article>
    </section>

    <footer>
      <a>© 2014 Monday Times. All rights reserved.</a>
    </footer>
</body>
</html>